* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

div {
    color: #222;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 400px;
}

.success {
    background-color: rgba(0, 255, 0, .3);
    border: 1px solid rgba(0, 255, 0, .8);
}

.error {
    background-color: rgba(255, 0, 0, .3);
    border: 1px solid rgba(255, 0, 0, .8);
}

h1,
form {
    margin-left: 10px;
}

h1 {
    background-image: linear-gradient(#333, #222);
    border: 1px solid #222;
    color: transparent;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 400px;
    word-spacing: 2px;
}

h1 span {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(#ddd, #bbb);
}

input,
textarea {
    font-size: 16px;
}

input:not(:last-child),
textarea {
    border: 1px solid #222;
}

input:not(:last-child):active,
input:not(:last-child):focus,
textarea:active,
textarea:focus {
    outline: none;
}

input:not(:last-child) {
    height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 400px;
}

textarea {
    height: 100px;
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
    resize: none;
    width: 400px;
}

input[type="submit"] {
    background-image: linear-gradient(#333, #222);
    border: 1px solid #222;
    color: #ddd;
    height: 40px;
    width: 100px;
}

input[type="submit"]:active,
input[type="submit"]:focus {
    background-image: linear-gradient(#222, #333);
    outline: none;
}
